src/main/resources/zgbmmbd_receive_plm.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:n1="urn:sap-com:document:sap:rfc:functions">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN__ZGBMMBD_RECEIVE_PLM">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization
                        xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                        wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                                         xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                                         xmlns:wsa="http://www.w3.org/2005/08/addressing"
                                         xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                                         xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                                         xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                                                xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                                wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                                         xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                                         xmlns:wsa="http://www.w3.org/2005/08/addressing"
                                         xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                                         xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                                         xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BN__ZGBMMBD_RECEIVE_PLM_soap12">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization
                        xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                        wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                                         xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                                         xmlns:wsa="http://www.w3.org/2005/08/addressing"
                                         xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                                         xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                                         xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                                                xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                                wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                                         xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                                         xmlns:wsa="http://www.w3.org/2005/08/addressing"
                                         xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                                         xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                                         xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF__ZGBMMWS_RECEIVE_PLM">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
                    <sapsession:enableSession>false</sapsession:enableSession>
                </sapsession:Session>
                <sapcentraladmin:CentralAdministration
                        xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
                        wsp:Optional="true">
                    <sapcentraladmin:BusinessApplicationID>15ECB86C61B11EEEA188B2DE3D26582D
                    </sapcentraladmin:BusinessApplicationID>
                </sapcentraladmin:CentralAdministration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP__Zgbmmfm001ReceivePlm">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no
                </saptrhnw05:required>
                <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false
                </sapcomhnd:enableCommit>
                <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true
                </sapblock:enableBlocking>
                <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false
                </saprmnw05:enableWSRM>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions"
                    xmlns:tns="urn:sap-com:document:sap:rfc:functions">
            <xsd:simpleType name="char1">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char18">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="18"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char2">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char220">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="220"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char255">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="255"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char40">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char48">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="48"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char500">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="500"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char6">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="6"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char70">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="70"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char9">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="9"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="date10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                    <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="quantum13.3">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="13"/>
                    <xsd:fractionDigits value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="unit3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
                    xmlns:n0="urn:sap-com:document:sap:rfc:functions">
            <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
            <xsd:complexType name="Zgbmms001PlmData">
                <xsd:sequence>
                    <xsd:element name="Zplmid" type="n0:char30"/>
                    <xsd:element name="Matnr" type="n0:char40"/>
                    <xsd:element name="Maktx" type="n0:char40"/>
                    <xsd:element name="Meins" type="n0:unit3"/>
                    <xsd:element name="Mtart" type="n0:char4"/>
                    <xsd:element name="Mbrsh" type="n0:char1"/>
                    <xsd:element name="Labor" type="n0:char3"/>
                    <xsd:element name="Matkl" type="n0:char9"/>
                    <xsd:element name="Spart" type="n0:char2"/>
                    <xsd:element name="Normt" type="n0:char18"/>
                    <xsd:element name="Brgew" type="n0:quantum13.3"/>
                    <xsd:element name="Gewei" type="n0:unit3"/>
                    <xsd:element name="Ntgew" type="n0:quantum13.3"/>
                    <xsd:element name="Extwg" type="n0:char18"/>
                    <xsd:element name="MtposMara" type="n0:char4"/>
                    <xsd:element name="Wrkst" type="n0:char48"/>
                    <xsd:element name="MaterialDescriptionText" type="n0:char500"/>
                    <xsd:element name="Z001" type="n0:char70"/>
                    <xsd:element name="Z002" type="n0:char70"/>
                    <xsd:element name="Z003" type="n0:char70"/>
                    <xsd:element name="Z004" type="n0:char70"/>
                    <xsd:element name="Z005" type="n0:char70"/>
                    <xsd:element name="Z006" type="n0:char70"/>
                    <xsd:element name="Z007" type="n0:char70"/>
                    <xsd:element name="Z008" type="n0:char70"/>
                    <xsd:element name="Z009" type="n0:char70"/>
                    <xsd:element name="Z010" type="n0:char70"/>
                    <xsd:element name="Z011" type="n0:char70"/>
                    <xsd:element name="Z012" type="n0:char70"/>
                    <xsd:element name="Z013" type="n0:char70"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZgbsInfo">
                <xsd:sequence>
                    <xsd:element name="Source" type="n0:char10"/>
                    <xsd:element name="Destination" type="n0:char10"/>
                    <xsd:element name="Zdate" type="n0:date10"/>
                    <xsd:element name="Ztime" type="n0:char6"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZgbsReturn">
                <xsd:sequence>
                    <xsd:element name="Mtype" type="n0:char1"/>
                    <xsd:element name="Message" type="n0:char220"/>
                    <xsd:element name="Info" type="n0:char255"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfZgbmms001PlmData">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Zgbmms001PlmData" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Zgbmmfm001ReceivePlm">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IInfo" type="tns:ZgbsInfo"/>
                        <xsd:element name="ItData" type="tns:TableOfZgbmms001PlmData"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Zgbmmfm001ReceivePlmResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="EReturn" type="tns:ZgbsReturn"/>
                        <xsd:element name="ItData" type="tns:TableOfZgbmms001PlmData"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Zgbmmfm001ReceivePlm">
        <wsdl:part name="parameters" element="tns:Zgbmmfm001ReceivePlm"/>
    </wsdl:message>
    <wsdl:message name="Zgbmmfm001ReceivePlmResponse">
        <wsdl:part name="parameter" element="tns:Zgbmmfm001ReceivePlmResponse"/>
    </wsdl:message>
    <wsdl:portType name="ZGBMMWS_RECEIVE_PLM">
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF__ZGBMMWS_RECEIVE_PLM"/>
        </wsp:Policy>
        <wsdl:operation name="Zgbmmfm001ReceivePlm">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP__Zgbmmfm001ReceivePlm"/>
            </wsp:Policy>
            <wsdl:input message="tns:Zgbmmfm001ReceivePlm"/>
            <wsdl:output message="tns:Zgbmmfm001ReceivePlmResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZGBMMBD_RECEIVE_PLM" type="tns:ZGBMMWS_RECEIVE_PLM">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZGBMMBD_RECEIVE_PLM"/>
        </wsp:Policy>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="Zgbmmfm001ReceivePlm">
            <soap:operation
                    soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZGBMMWS_RECEIVE_PLM:Zgbmmfm001ReceivePlmRequest"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ZGBMMBD_RECEIVE_PLM_soap12" type="tns:ZGBMMWS_RECEIVE_PLM">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZGBMMBD_RECEIVE_PLM_soap12"/>
        </wsp:Policy>
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="Zgbmmfm001ReceivePlm">
            <wsoap12:operation
                    soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZGBMMWS_RECEIVE_PLM:Zgbmmfm001ReceivePlmRequest"
                    style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZGBMMWS_RECEIVE_PLM">
        <wsdl:port name="ZGBMMBD_RECEIVE_PLM" binding="tns:ZGBMMBD_RECEIVE_PLM">
            <soap:address
                    location="http://vhgjsds4ci.sap.gobicashmere.com:8000/sap/bc/srt/rfc/sap/zgbmmws_receive_plm/110/zgbmmws_receive_plm/zgbmmbd_receive_plm"/>
        </wsdl:port>
        <wsdl:port name="ZGBMMBD_RECEIVE_PLM_soap12" binding="tns:ZGBMMBD_RECEIVE_PLM_soap12">
            <wsoap12:address
                    location="http://vhgjsds4ci.sap.gobicashmere.com:8000/sap/bc/srt/rfc/sap/zgbmmws_receive_plm/110/zgbmmws_receive_plm/zgbmmbd_receive_plm"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>